.intro__list{
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: start;
    list-style-type: none;
    font-family: 'Inter';
    font-style: normal;
}