.lead {
  margin: 56px 148px 92px 148px;
  max-width: 984px;
  display: block;
}

@media screen and (max-width: calc(1024px + 20px)) {
  .lead {
    margin: 48px 48px 92px 48px;
    max-width: 928px;
  }
}

@media screen and (max-width: calc(768px + 20px)) {
  .lead {
    margin: 48px 0 0;
    max-width: 768px;
  }
}

@media screen and (max-width: calc(320px + 20px)) {
  .lead {
    margin: 48px 0 64px;
    max-width: 320px;
  }
}
