.header {
  padding: 0;
  margin: 28px 48px 0;
  max-width: 1184px;
  min-height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: calc(1024px + 20px)) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: calc(768px + 20px)) {
  .header {
    max-width: 720px;
    margin: 28px 24px 0;
  }
}

@media screen and (max-width: calc(320px + 20px)) {
  .header {
    max-width: 288px;
    margin: 16px 16px 0;
  }
}
