.place__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
  margin: 0;
  margin-bottom: 26px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media screen and (min-width: calc(768px - 20px)) and (max-width:1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (min-width: calc(320px - 20px)) and (max-width:767px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
