.footer__copyright {
    min-width: 186px;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width:767px) {
    .footer__copyright {
        line-height: 14px;
        text-align: start;
    }
}
