.lead__image {
  margin: 0;
  padding: 0;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

@media screen and (max-width: calc(768px + 20px)) {
  .lead__image {
    max-height: 480px;
    max-width: 768px;
  }
}

@media screen and (max-width: calc(320px + 20px)) {
  .lead__image {
    max-width: 320px;
    max-height: 200px;
  }
}
