.intro__text {
  max-width: 100%;
  margin: 40px 0 33px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
  text-align: start;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
}

@media screen and (max-width: calc(320px + 20px)) {
  .intro__text {
    margin-bottom: 34px;
    max-width: 288px;
  }
}
