.place {
  max-width: 984px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  grid-template-rows: 1fr 460px;
  gap: 48px 40px;
  margin: 0;
}

@media screen and (min-width: calc(1024px - 20px)) and (max-width: 1279px) {
  .place {
    min-width: 928px;
    grid-template-columns: repeat(2, minmax(440px, auto));
    gap: 48px 32px;
  }
}

@media screen and (min-width: calc(768px - 20px)) and (max-width: 1027px) {
  .place {
    min-width: 720px;
    gap: 48px 28px;
    grid-template-columns: repeat(2, minmax(340px, auto));
    grid-template-rows: 1fr minmax(auto, auto);
  }
}

@media screen and (min-width: calc(320px - 20px)) and (max-width: 767px) {
  .place {
    width: 100%;
    grid-template-columns: minmax(300px, auto);
    grid-template-rows: minmax(35px, auto) minmax(46px, auto) minmax(auto, auto) minmax(auto, auto);
    gap: 32px;
  }
}
