.intro__title {
  margin: 0;
  max-width: 100%;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  text-align: start;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
}

@media screen and (max-width: calc(320px + 20px)) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
